<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 어노테이션x xml 빈설정만  --> <!-- class & id 값 필수 아니면 에러발생 -->
	<!-- 혹은 클래스를 가지고 와서 사용해야된 따라서 이것을 선호 -->
	<bean class="com.douzone.springcontainer.user.User1" id="user1" />
	
	<bean id="usr" name="user" class="com.douzone.springcontainer.user.User" />
	
	<bean class="com.douzone.springcontainer.user.User" />
	
	<bean id="usr2" class="com.douzone.springcontainer.user.User" >
		<constructor-arg value="둘리" />
		<property name="friends" >
			<list>
				<value>마이콜</value>
				<value>도우넛</value>
				<value>또치</value>
			</list>
		</property>
	</bean>
	
	<bean id="usr3" class="com.douzone.springcontainer.user.User" >
		<constructor-arg index="1" value="마이콜" />
		<constructor-arg index="0" value="1" />
		<property name="friend">
			<bean class="com.douzone.springcontainer.user.Friend" >
				<property name="name" value="길동"></property>
			</bean>
		</property>
	</bean>
	
	<!-- Friend Bean 설정  -->
	<bean id="friend" class="com.douzone.springcontainer.user.Friend" >
		<property name="name" value="도우넛" />
	</bean>
	
	<bean id="usr4" class="com.douzone.springcontainer.user.User" >
		<constructor-arg value="2" />
		<constructor-arg value="또치" />
		<property name="friend" ref="friend" />
	</bean>
	
</beans>